.actor_image {
  with: 100%;
  img {
    width: 100%;
}
}


.about_section {
  padding: 1rem;

  h1 {
    font-size: 36px;
  }

}

.biography_text {
  margin-top: 1rem;
  line-height: 1.5rem;
}

.stats_tab {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 2rem;

  li {
    font-size: 16px;
    flex-basis: 33.33%;
    text-align: center;
    padding: 0.3rem 0.2rem;
  }

  li:nth-child(2) {
  }
}

.active {
  border-bottom: 1px solid red;
  background: #1d1d1d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.stats_table {
  margin: 0 -1rem;
  margin-top: 2rem;
  border-collapse: collapse;
  padding: 0 1rem;
  table-layout: fixed;
  td {
    width: 33.33%;
  }
  tr:nth-child(even) {
    background-color: #1d1d1d;
  }
  tr:last-child{
    background: none;
  }
}

.table_row {
  td {
    padding: 2rem 0;
    text-align: center;
    &:not(:nth-child(2)) {
      padding: 1rem;
    }
  }
}

.table_header {
  th {
    padding: 1rem 0;
    background: #e50914;
  }
}

.showMore {
  background: #e50914;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 1rem;
  border-radius: 4px;
}
