body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

.searchBar {
  max-width: 500px;
}

ul {
  list-style: none;
}

input {
  width: 100%;
}

.name-list {
  height: 0px;
  overflow: hidden;
}

.name-list.show {
  height: unset;
}


.search-item {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 1em 0;
}

.search-item figure {
  flex-basis: 15%;
}

.search-item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



